/* For display default content   */
/* line 51, ../sass/screen.scss */
.label-default {
  font-size: 16px;
  border-color: black;
}

/* line 56, ../sass/screen.scss */
.box-default {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: black;
}

/* line 61, ../sass/screen.scss */
.box-default-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: black;
}

/* line 66, ../sass/screen.scss */
.box-default-large {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: black;
}

/* For display success content  */
/* line 72, ../sass/screen.scss */
.label-success {
  font-size: 16px;
  border-color: green;
}

/* line 77, ../sass/screen.scss */
.box-success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: green;
}

/* line 82, ../sass/screen.scss */
.box-success-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: green;
}

/* line 87, ../sass/screen.scss */
.box-success-large {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: green;
}

/* For display error content    */
/* line 93, ../sass/screen.scss */
.label-error {
  font-size: 16px;
  border-color: red;
}

/* line 98, ../sass/screen.scss */
.box-error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: red;
}

/* line 103, ../sass/screen.scss */
.box-error-medium {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-color: red;
}

/* line 108, ../sass/screen.scss */
.box-error-large {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-color: red;
}
