$default-fontsize: 16px;

$default-color: black;
$success-color: green;
$error-color: red;

$normal-size: 10px;
$medium-size: 20px;
$large-size: 30px;

@mixin makeRoundFont($font){
    @if $font == default{
        font-size: $default-fontsize;
    }
}

@mixin makeRoundColor($color){
    @if $color == default{
        border-color: $default-color;
    }
    @if $color == success{
        border-color: $success-color;
    }
    @if $color == error{
        border-color: $error-color;
    }
}

@mixin makeRoundSize($size){
    @if $size == normal{
        -webkit-border-radius: $normal-size;
        -moz-border-radius: $normal-size;
        border-radius: $normal-size;

    }
    @if $size == medium{
        -webkit-border-radius: $medium-size;
        -moz-border-radius: $medium-size;
        border-radius: $medium-size;

    }
    @if $size == large{
        -webkit-border-radius: $large-size;
        -moz-border-radius: $large-size;
        border-radius: $large-size;

    }
}

/* For display default content   */
.label-default{
    @include makeRoundFont(default);
    @include makeRoundColor(default);
}

.box-default{
    @include makeRoundSize(normal);
    @include makeRoundColor(default);
}
   
.box-default-medium{
    @include makeRoundSize(medium);
    @include makeRoundColor(default);
}

.box-default-large{
    @include makeRoundSize(large);
    @include makeRoundColor(default);
}

/* For display success content  */
.label-success{
    @include makeRoundFont(default);
    @include makeRoundColor(success);
}

.box-success{
    @include makeRoundSize(normal);
    @include makeRoundColor(success);
}

.box-success-medium{
    @include makeRoundSize(medium);
    @include makeRoundColor(success); 
}

.box-success-large{
    @include makeRoundSize(large);
    @include makeRoundColor(success); 
}

/* For display error content    */ 
.label-error{
    @include makeRoundFont(default);
    @include makeRoundColor(error);
}

.box-error{
    @include makeRoundSize(normal);
    @include makeRoundColor(error);
}

.box-error-medium{
    @include makeRoundSize(medium);
    @include makeRoundColor(error);
}

.box-error-large{
    @include makeRoundSize(large);
    @include makeRoundColor(error);
}